* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color: #a7a7a7;
    width: auto;
    margin: 0 auto;
    line-height: 1.4;
    flex-wrap: wrap;
}

.topbar {
    background-color: #353535;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);

}

.topbar img {
    margin-top: 10px;
}

.topbar nav {
    margin-top: 5px;
    padding: 30px;
}

.topbar nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin: 0 30px;
}

#site-search {
    margin: 35px 0 20px 20px;
}

.Jagermeister:hover {
    color: #5faa6c;
}

.Chibre-Bleu:hover {
    color: #5f9baa;
}

.Lapsuce:hover {
    color: #aa5f5f;
}

.banniere {
    height: 500px;
    background: no-repeat center center / cover url("/img/pépin.jpeg");
}