/* barre de nav */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    /* background-color: #000000; */
    width: auto;
    margin: 0 auto;
    line-height: 1.4;
    flex-wrap: wrap;
}

.topbar {
    background-color: #E73544;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    z-index: 1;
}

nav {
    margin-right: 15%;
}

.topbar img {
    margin-top: 5%;
    margin-bottom: 5%;
}

.topbar nav {
    margin-top: 35px;
    margin-bottom: 35px;
}

.topbar nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin: 0 30px;
}

form {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-100%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #E73544;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #E73544;
    color: white;
}

.Jagermeister:hover {
    color: #353535;
    text-decoration: underline;
}

.Chibre-Bleu:hover, .Chibre-Bleu:active {
    color: #353535;
    text-decoration: underline;
}

.Lapsuce:hover {
    color: #353535;
    text-decoration: underline;
}

@media screen and (min-width: 1400px) {

    .ia {
        display: none;
    }
}

@media screen and (min-width: 968px) and (max-width: 1399px) {
    nav {
        margin-right: 17%;
    }
    
    .topbar img {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .topbar nav {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .iatexte {
        display: none;
    }
    .ia img {
        display: flex;
        justify-content: center;
        width: 92.5px;
    }
}
@media screen and (max-width: 967px) {
    .topbar {
        display: flex;
        flex-direction: row;
        text-align: center;
        height: 122px;
    }
    .topbar nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .topbar img {
        width: 200px;
        margin: 5px 0 0 0;
    }

    .topbar nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 100px 0 0;
    }
    .iatexte {
        display: none;
    }

    .ia img {
        margin-top: 10%;
        width: 100px;
    }
    
    .logochibre {
        padding-top: 100px;
    }

    .actu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px;
    padding-bottom: 150vh;
    }
    .card {
        margin: 10px;
    }
    .tableau-resp {
        display: none;
    }
    .moise {
        display: flex;
        flex-wrap: wrap;
    }
}

/* banniere */

   .banniere {
        width: 100%;
        height: 100%;
        padding-top: 200px;
        background: no-repeat center center / cover url("img/accueil-le-lapsuce-bar-et-cave-a-bieres.webp");
    }

    .banniere img {
        margin-top: 0px;
    }

.moise {
    display: flex;
    flex-direction: row;
}

    .bande1 {
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        background-image: url("/fanbase3/img/IMAGE_05_SLIDESHOW_LAPSUCE_2020.webp");
    }

    .bande2 {
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        background-image: url("/fanbase3/img/IMAGE_06_SLIDESHOW_LAPSUCE_2020.webp");
    }
    
    .bande-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        padding: 20px 50px;
    }
    
    .bande-overlay h2 {
        margin: 10%;
        text-align: center;
    }

    .bande-overlay p {
        font-weight: 500;
    }
   
/* .flex-container { 
    display: flex;
    flex-direction: row;
    background:url("img/Design\ sans\ titre\ \(1\).jpg");
    max-width: 100%;
    height: 100%;
    margin-top: 100px;
    background: no-repeat center
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
  }
   */


/* diapo */

/* img { 
    max-width: 100%;
    z-index: -200;
}
.slider-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    height: 500px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: -200;
    transition: left 0.50s ease-out;
}*/

   /* footer */

   hr {
    margin: 0;
    padding: 0;
}

.raccourcis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
}

.raccourcis a {
    margin: 10px;
    color: white;
    text-decoration: none;
    
}

.raccourcis a:hover {
    color: #353535;
}

/* #contact {
    margin-bottom: 40px;
} */

.raccourcis img {
    margin: 0;
}

footer {
    background-color: #e73544;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 60px 0px;
    background-image: url(img/banniere\ vert\ grand.jpeg);
    background-size: cover;
    /* z-index: 1; */
    width: 100%;
    
}

.footer-link  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    line-height: 2;
}

.link {
    /* margin-right: 20px; */
    padding: 0%;
    margin: 1rem;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: #353535;
}

.link p {
    font-size: 28px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.link li {
    list-style-type: none;
}


@media screen and (min-width: 768px) and (max-width: 1800px) {
    .footer-link {
        display: flex;
        flex-wrap: wrap;
        /* text-align: center; */
        /* padding-left: 130px; */
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .footer-link {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .raccourcis img {
        width: 40%;
    }
}
