* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    /* background-color: #000000; */
    width: auto;
    margin: 0 auto;
    line-height: 1.4;
    flex-wrap: wrap;
}

.topbar {
    background-color: #0C83CE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    z-index: 1;
}

nav {
    margin-right: 15%;
}

.topbar img {
    margin-top: 5%;
    margin-bottom: 5%;
}

.topbar nav {
    margin-top: 35px;
    margin-bottom: 35px;
}

.topbar nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin: 0 30px;
}

form {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-100%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #0C83CE;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #0C83CE;
    color: white;
}

.Jagermeister:hover {
    color: #55e7fb;
    text-decoration: underline;
}

.Chibre-Bleu:hover, .Chibre-Bleu:active {
    color: #55e7fb;
    text-decoration: underline;
}

.Lapsuce:hover {
    color: #55e7fb;
    text-decoration: underline;
}

@media screen and (min-width: 1400px) {

    .ia {
        display: none;
    }
}

@media screen and (min-width: 968px) and (max-width: 1399px) {
    nav {
        margin-right: 17%;
    }
    
    .topbar img {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .topbar nav {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .iatexte {
        display: none;
    }
    .ia img {
        display: flex;
        justify-content: center;
        width: 92.5px;
    }
}
@media screen and (max-width: 967px) {
    .topbar {
        display: flex;
        flex-direction: row;
        text-align: center;
        height: 122px;
    }
    .topbar nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .topbar img {
        width: 200px;
        margin: 5px 0 0 0;
    }

    .topbar nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 100px 0 0;
    }
    .iatexte {
        display: none;
    }

    .ia img {
        margin-top: 10%;
        width: 100px;
    }
    
    .logochibre {
        padding-top: 100px;
    }

    .actu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px;
    padding-bottom: 150vh;
    }
    .card {
        margin: 10px;
    }
}

.logochibre {
    background-color: #0C83CE;
    margin-top: 120px;
    width: 100%;
    height: 60vh;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logochibre img {
    margin-top: 40vh;
}

.logochibre h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.logochibre h2 {
    margin-bottom: 200px;
}

.firststrip {
    padding: 1px ;
    background-color: #fff;
}

.texteslide p {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    line-height: 50px;
    font-size: 35px;
    text-transform: uppercase;
    color: #0C83CE;
    position: absolute;
    margin-left: 250px;
    margin-top: 18%;
    max-height: 200px;
    width: 350px;
}

.texteslide img {
    position: absolute;
    width: 500px;
    margin-top: 0;
    margin-left: 1200px;
}

.slider-1 {
    max-width: 308px;
    margin: 100px auto;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.271);
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 30s infinite ease-in-out;
}

.slider-1 p {
    background: #202020;
    flex-shrink: 0;
    margin: 0 0 -20px 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 45px;
    color: #fff;
}

.actu {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #0C83CE;
    width: 100%;
    height: 90vh;
}

.actu h2 {
    display: flex;
}

.card {
    width: 200px;
    background: white;
    padding: .5em;
    border-radius: 15px;
  }
   
  .card-image img {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 15px 15px;
  }

  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

.bande {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.chibrebleu.fr/wp-content/uploads/2023/11/chibre-bleu-cocktail-xmas.webp");
}

.bande-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
}

.bande-overlay h2 {
    margin: 10%;
    text-align: center;
}

.bande-deux {
    background-color: #8a1e1e;
    height: 100px;
}

@keyframes slider-1 {
    0%,
    10% {
        transform: translateX(0); 
    }
    15%,
    25% {
        transform: translateX(-100%);
    }
    30%,
    40% {
        transform: translateX(-200%)
    }
    45%,
    55% {
        transform: translateX(-300%);
    }
    60%,
    70% {
        transform: translateX(-400%);
    }
    75%,
    85% {
        transform: translateX(-500%);
    }
    90%,
    100% {
        transform: translateX(-600%);
    }
}

/* ----------------------------------footer --------------------------------*/

hr {
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.raccourcis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px;
    font-size: 20px;
    margin-left: 20px;
}

.raccourcis a {
    margin: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.raccourcis a:hover {
    color: #55e7fb;
}

#contact {
    margin-bottom: 40px;
}

.raccourcis img {
    margin: 0px 0px;
}

footer {
    background-color: #0C83CE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 60px 60px;
}

.footer-link  {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    padding: 0;
    font-size: 15px;
    line-height: 2;
}

.link {
    margin-right: 20px;
}

.link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link a:hover {
    color: #55e7fb;
}

.link p {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color :#ffffff;
}

.link li {
    list-style-type: none;
}

@media screen and (min-width: 1400px) {
    .iafooter {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
    .footer-link {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .footer-link a {
        margin: 20px;
    }
    .iatextefooter {
        display: none;
    }
    .raccourcis a {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer-link {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        left: 0;
        right: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    .footer-link a {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .raccourcis img {
        width: 200px;
    }
    .iatextefooter {
        display: none;
    }
}